{% extends "tema.html" %}
{% block title %}Index{% endblock %}
{% block head %}
    {{ super() }}
    <script type="text/javascript">console.log("Teste")</script>
{% endblock %}
{% block body %}

<h1>Auto Mecânica Carrit</h1>
<div class="ui grid">
    <div class="twelve wide column">Texto1</div>
    <div class="four column row">
      <div class="right floated column">Texto2</div>
      <div class="left floated column">Texto3</div>
    </div>
    <div class="row">
      <div class="three wide column">Texto4</div>
      <div class="eight wide column">Texto5</div>
      <div class="five wide column">Texto6</div>
    </div>
  </div>
{% endblock %}